@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import './var';
@import './mixins';

html,
body,
.app {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $mainBackground;
  color: $mainTextColor;
}

table,
th,
td {
  border: 1px solid black;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;

  @include tablet {
    max-width: 768px;
  }

  @include mobile {
    max-width: 360px;
  }
}

.error {
  color: red;
  margin-top: 4px;
  font-size: 12px;
  line-height: 15px;
}
